<% include ../partials/header %>

<!-- <div>
    <h1>Log in!</h1>
    <hr>
    <% include ../partials/alerts.ejs %>
    <form class="form" method="post" action="/auth/login">
        <input type="text" class="form-control" placeholder="Enter your e-mail" name="email">
        <br><br>
        <input type="password" class="form-control" placeholder="Enter your password" name="password">
        <br><br>
        <input type="submit" value="log me in" class="btn btn-primary">
    </form>
</div> -->
<form class="input-group">
  <div class="input-row">
    <% include ../partials/alerts.ejs %>
    <label>E-mail</label>
    <input type="email" placeholder="Enter your e-mail">
  </div>
  <div class="input-row">
    <label>Password</label>
    <input type="text" placeholder="Enter your password">
  </div>
  <br>
  <button class="btn btn-primary">Login</button>
  <br>
  <br>
  <a href="/auth/signup" data-transition="fade" data-ignore="push" class="btn btn-positive">Signup For an Account</a>
  <br>
  &nbsp
</form>


<nav class="bar bar-tab">
  <a class="tab-item active" href="/" data-ignore="push" data-transition="fade">
    <span class="icon icon-home"></span>
    <span class="tab-label">Home</span>
  </a>
  <a class="tab-item" href="/maps" data-ignore="push" data-transition="fade">
    <span class="icon icon-star-filled"></span>
    <span class="tab-label">Map</span>
  </a>
  <a class="tab-item" href="/auth">
    <span class="icon icon-refresh"></span>
    <span class="tab-label">Refresh</span>
  </a>
  <a class="tab-item" href="/logins">
    <span class="icon icon-bars"></span>
    <span class="tab-label">Vendor Login</span>
  </a>
</nav>

<% include ../partials/footer %>