<% include ./partials/header %>



<div class="well" align="center">
      <a class="btn btn-success btn-sm" href="/maps">Go to the Map</a>
  </div>
</div>




  <script>
    var myPoints = <%- JSON.stringify(locations) %>;
    drawMap(myPoints)
  </script>

<% include ./partials/footer %>