<% include ./partials/header %>

<nav class="navbar navbar-default" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
        <a href="/" class="thumbnail">
          <img src="/images/food-truck-icon.jpg" alt="truck">
        </a>
      </div>
      <h3>SLU Food Truck Finder</h3>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav">
      <!-- <li><a href="/maps">Go To The Map</a></li> -->
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Search By Day<b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="/maps/Monday">Monday</a></li>
          <li><a href="/maps/Tuesday">Tuesday</a></li>
          <li><a href="/maps/Wednesday">Wednesday</a></li>
          <li><a href="/maps/Thursday">Thursday</a></li>
          <li><a href="/maps/Friday">Friday</a></li>
        </ul>
      </li>
    </ul>
  </div><!-- /.navbar-collapse -->
</nav>

<div class="container">
<style>
  .carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
    height: 300px;
      width: 80%;
      margin: auto;
  }
</style>
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
      <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>

    <div class="carousel-inner" role="listbox">

      <div class="item active">
        <img src="http://s3-media3.fl.yelpassets.com/bphoto/CCuF1hy1iaLhelSO3P9nmw/o.jpg" alt="CheeseWizards" width="460" height="345">
        <div class="carousel-caption">
          <h3>Cheese Wizards</h3>
          <p>Grilled Cheese!</p>
        </div>
      </div>

      <div class="item">
        <img src="http://s3-media1.fl.yelpassets.com/bphoto/FVNs8LtjBPqr3WkO0v5QGQ/l.jpg" alt="CheeseLogo" width="460" height="345">
        <div class="carousel-caption">
          <h3>Cheesy Logo</h3>
          <p>Awesome!</p>
        </div>
      </div>

    </div>

    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>

  </div>
</div>



<div class="well" align="center">
  <div class="container">
  <div id="map">
    </div>
    <br>
      <a class="btn btn-success btn-sm" href="/maps">Go to the Map</a>
  </div>
</div>





  <script>
    var myPoints = <%- JSON.stringify(locations) %>;
    drawMap(myPoints)
  </script>

<% include ./partials/footer %>