<% include ../partials/header %>


<script src='https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-locatecontrol/v0.24.0/L.Control.Locate.js'></script>
<link href='https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-locatecontrol/v0.24.0/L.Control.Locate.css' rel='stylesheet' />

<div class="content">
    <div id="map" style="height: 100%">
    </div>
</div>

    <nav class="bar bar-tab">
  <a class="tab-item active" href="/" data-ignore="push" data-transition="fade">
    <span class="icon icon-home"></span>
    <span class="tab-label">Home</span>
  </a>
  <a class="tab-item" href="/maps" data-ignore="push" data-transition="fade">
    <span class="icon icon-star-filled"></span>
    <span class="tab-label">Map</span>
  </a>
  <a class="tab-item" href="/maps" data-ignore="push" data-transition="fade">
    <span class="icon icon-refresh"></span>
    <span class="tab-label">Refresh</span>
  </a>
  <a class="tab-item" href="#">
    <span class="icon icon-bars"></span>
    <span class="tab-label">Filter</span>
  </a>
</nav>

<script>
    var myPoints = <%- JSON.stringify(locations) %>;
    drawMap(myPoints);
</script>



<% include ../partials/footer %>