<% include ../partials/header %>
<script src='https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-locatecontrol/v0.24.0/L.Control.Locate.js'></script>
<link href='https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-locatecontrol/v0.24.0/L.Control.Locate.css' rel='stylesheet' />

<style>
.leaflet-control-locate {
  border:1px solid rgba(0,0,0,0.4);
  }
.leaflet-control-locate a {
  background-color:#fff;
  background-position:-3px, -2px;
  }
.leaflet-control-locate.active a {
  background-position:-33px -2px;
  }
</style>

    <div id="map" style="height: 400px">

    </div>

<script>
    var myPoints = <%- JSON.stringify(locations) %>;
    drawMap(myPoints);
</script>


<% include ../partials/footer %>